rrem(val){
  return (val/144px)rem
}
.progress
  height rrem(100px)
  border-radius 40px
  background linear-gradient(to right,#d3bc89 30%, #f2e0b2);
  text-align center
  color #fff
  padding-top rrem(10px)
  line-height rrem(100px)
  font-size rrem(56px)
  font-weight bold