 rrem(val){
    return (val/108px)rem
  }
  .discount
    width:100%
    height auto
    position relative
    background #d8006b
    overflow hidden
    .main_bg
      position absolute
      width 100%
      z-index 1
      top 0px
    .people_main
      z-index 100
      position relative
      margin auto
      width rrem(1000px)
      .main_parent
        width 100%
        img
          width 100%