 rrem(val){
    return (val/144px)rem
  }
  rrrem(val){
    return (val/108px)rem
  }
  .headImgStyle
    width rrem(125px);
    height rrem(125px);
    border-radius 100%

  .Money
    background #d8006b
    position relative
    height auto
    overflow hidden
    padding-bottom rrem(100px)
    .main_bg
      position absolute
      width 100%
      z-index 1
      top 0px
    .list
      width rrrem(1000px)
      margin auto
      position relative
      z-index 100
      .ivu-table-cell
        width 100%
        height rrem(130px)
        margin 0px
        padding 0px
        line-height rrem(130px)
        text-align center